body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 50px;
}

h1,
h2 {
  margin: 0px;
}

.titulo {
  text-align: center;
}
.box1 {
  background-color: #111;
  margin: 20px;
  padding: 30px;
  border-radius: 4px;
  color: white;
}
.paragrafo {
  color: #b2b2b2;
}
.amarelo {
  color: #febe01;
}
.botao {
  display: inline-block;
  text-decoration: none;
  background-color: #febe01;
  color: #111;
  padding: 10px;
  border-radius: 4px;
}
